<link rel="stylesheet" href="css/profile.css">

<!-- This calls the background-image. -->
<div class="container" id="startUp3.jpg"></div>

<!-- This is the left column -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <hr>
          <div id="logo">
            <img src="/images/startUpLogo3.png" alt="startup" height="50" width="50">
          </div>

          <div class="row">
            <img src="{{ businessLogo }}" alt="startup" height="100" width="100"/>
          </div>
        </div>

          <div class="col-md-8">
            <h1> Profile </h1>
          </div>
  <!-- THESE ARE JUST FILLER LINKS.
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <li><a href="{{ facebook }}" target="_blank">
                    <i class="fa fa-facebook someicons" aria-hidden="true"></i><br>
                </a></li>
              <li><a href="{{ github }}/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ instagram }}/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ linkedIn }}/" target="_blank">
                    <i class="fa fa-linkedIn" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ snapChat }}/" target="_blank">
                    <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ twitter }}/" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ website }}/" target="_blank">
                    <i class="{{ url }}" alt="startup" aria-hidden="true"></i>
                </a></li>
              <li><a href="{{ youtube }}/" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a></li>
            </div>
          </div>

      </div> -->
    </div>
</div>
<!-- This is the right column. -->
    <div class="col-md-6">
      <ul class="checklist fa-ul">
        <li><i class="fa-li fa fa-spinner fa-spin"></i> Business Name </li>
        <li><i class="fa-li fa fa-spinner fa-spin"></i> Business License </li>
        <li><i class="fa-li fa fa-spinner fa-spin"></i> EIN Number </li>
        <li><i class="fa-li fa fa-spinner fa-spin"></i> Domain Name </li>
      </ul>
      <div id="logo">
      </div>
          <h2> {{ businessAddress }} </h2>
    </div>
  </div>
